body{
    background: #eee2da;
    width: 100%;
    height: 100%;
}
.container-fluid{
    background: #eee2da;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

/* Paramètre de la navbar */

.navbar {
    background-color: #f5f5f5;
}
.logoGbaf {
    width: 100px;
}
.username {
    display: flex;

    justify-content: flex-end;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 2%;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
}
.dropdown-content a {
    background-color: #f5f5f5;
    color: #070201;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 1%;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #ff0000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .boutonsMenu {
    background-color: #f5f5f5;
}
.divider {
    background-color:#f5f5f5; 
}
.boutonsMenu {
    border: none;
    cursor: pointer;
    background-color: #f5f5f5;
}
.identiteUser {
    display: flex;
    margin: auto;
    color: #222222;
    
}






/* Paramètre du footer */

footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.copyright {
    width: 50%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.liensFooter {
    width: 50%;
    text-align: center;
    margin: auto;
}
.mentionsLegales {
    width: 50%;
}
/* section présentation de la gbaf*/
.presentation {
    position: relative;
    text-align: center;
    color: white;
}
.textePresentation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

h1{
    color: #ff0000;
    text-align: center;
    margin-bottom: 5%;
}
h2 {
    color: #ff0000;
    text-align: center;
    margin: 5% auto;
}
.imgPresentation {
    width: 100%;
    -webkit-filter: blur(.5px);

}
.col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
    margin: 0;
    padding: 0;
}
.acteur {
    width: 70%;
    margin: 2% auto;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #070201;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.logoActeur {
    width: 20%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: left;
}
.contenuActeurDescript {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left
    align-items: center;
}
.lienActeur {
    width: 20%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lienActeur a {
    border: 2px solid #070201;
    background-color: #070201;
    color: #fff;
    padding: 5%;
    border-radius: 12%;
    text-decoration: none;
}
.lienActeur a:hover {
    border: 2px solid #ff0000;
    background-color: #ff0000;
    color: #fff;
}


a {
    color: #ff0000;
}
a:hover {
    color: #222222;
}

/* Responsive tablette */


@media(min-width: 768px) and (max-width: 1388px)

{

.container-fluid {
    background: #eee2da;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
.imgPresentation {
    margin: 1% auto;
    padding-top: 17%;
}
.textePresentation {
    position: absolute;
    margin: 10% auto;
    width: 90%;
} 
.acteur {
    width: 80%;
    display: flex;
}
.logoActeur {
    width: 40%;
}
.descriptionBouton {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.contenuActeurDescript {
    display: flex;
    justify-content: center;
    text-align: center;
}
.lienActeur {
    width: 100%;
    display: flex;
}

 

}

/* Responsive Phone */

@media(max-width: 767px)

{ 
body {
    font-size: .9rem;
}

h1{
    color: #ff0000;
    text-align: center;
    margin-bottom: 5%;
    font-size: 1.9rem;
}
h2 {
    color: #ff0000;
    text-align: center;
    margin: 5% auto;
    font-size: 1.5rem;
}
.presentation {
    position: inherit;
    text-align: center;
    color: white;
}
.imgPresentation {
    margin: 1% auto;
    padding-top: 100%;
}
.textePresentation {
    position: absolute;
    margin: 35% auto;
    width: 100%;
    border: none;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: #eee2da;
    color: #070201;
} 
.acteur {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.logoActeur {
    width: 100%;
    justify-content: center;
}
.descriptionBouton {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contenuActeurDescript {
    display: flex;
    justify-content: center;
    text-align: center;
}
.lienActeur {
    width: 100%;
    display: flex;
}

 

 

}

