body{
    background: #eee2da;
    width: 100%;
    height: 100%;
}
.container-fluid{
    background: #eee2da;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

/* Paramètre de la navbar */

.navbar {
    background-color: #f5f5f5;
}
.logoGbaf {
    width: 100px;
}
.username {
    display: flex;

    justify-content: flex-end;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
}
.dropdown-content a {
    background-color: #f5f5f5;
    color: #070201;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #ff0000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .boutonsMenu {
    background-color: #f5f5f5;
}
.divider {
    background-color:#f5f5f5; 
}
.boutonsMenu {
    border: none;
    cursor: pointer;
    background-color: #f5f5f5;
}
.identiteUser {
    display: flex;
    margin: auto;
    color: #222222;
    
}
.btn {
    background-color: #f5f5f5;
    border: 1px solid #222222;
    color: #222222;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn:hover {
    background-color: #f5f5f5;
    color: #ff0000;
    border: 1px solid #ff0000;
}



form {
    width: 100%;
    padding: 2%;
    margin: 2% auto;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* champ utilisateur et champ mot de passe */
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* les autres boutons  */
input[type=submit] {
    background-color: #222222;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}






/* Paramètre du footer */

footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.copyright {
    width: 50%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.liensFooter {
    width: 50%;
    text-align: center;
    margin: auto;
}
.mentionsLegales {
    width: 50%;
}


h1{
    color: #ff0000;
    text-align: center;
    margin-bottom: 5%;
}
h2 {
    color: #ff0000;
    text-align: center;
    margin: 5% auto;
}
a {
    color: #ff0000;
}
a:hover {
    color: #222222;
    text-decoration: none;
}
.acteur {
    margin: 10% 5% 0 5%;
    border: 1px solid #f5f5f5;

    background: #f5f5f5;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.acteurContenu {
    margin: 0 auto;
    padding: 5%;
}
.acteurLogo {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.acteurLogo img {
    height: 200px;
}
.descriptionActeur {
    width: 70%;
    margin: auto;
    text-align: left;
}
.descriptionActeur li {
    width: 50%;
    margin: auto;
    text-align: left;
}


.commentaireAnnonce {
    margin: 2% 5% 2% 5%;
    border: 1px solid #f5f5f5;

    background: #f5f5f5;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.contenuCommentaire {
    display: flex;
    flex-direction: column;
}
.headerContenuCommentaire {
    display: flex;
    margin: 5% auto;
    width: 80%;
}
.xCommentaire {
    width: 70%;
    display: flex;
}
.newCommentAndLikes {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.newCommentaire {
    display: flex;
    margin: auto;
    align-items: center;
    border: 1px solid #070201;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.newCommentaire:hover {
    border: 1px solid #ff0000;
}
.newCommentaire a p {
    margin: auto;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
}
.newCommentaire a p:hover {

}
.likeDislikeForm {
    display: flex;
    margin: auto;
    padding: 2%;
    align-items: center;
    border: 1px solid #070201;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.boutonsVote {
    display: flex;
    margin: auto;
}
.nombreVote {
    margin: 0 auto;
    p
}

.like {
    border:0 none;
}
.dislike {
    border:0 none;
    -webkit-transform: rotate(-180deg); 
    -moz-transform: rotate(-180deg);
}

.newPostForm {

    display: none;
    margin: auto;
    padding: 2%;
    width: 80%;
    text-align: center;
}

.dernierCommentaires {
    width: 90%;
    margin: 2% auto;
    padding: 2%;
}


.postActeur {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    border: 1px solid #070201;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}










