body{
    background: #eee2da;
    width: 100%;
    height: 100%;
}
.container-fluid{
    background: #eee2da;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

/* Paramètre de la navbar */

.navbar {
    background-color: #f5f5f5;
}
.logoGbaf {
    width: 100px;
}
.username {
    display: flex;
    width: 16%;
    justify-content: flex-end;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 2%;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
}
.dropdown-content a {
    background-color: #f5f5f5;
    color: #070201;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 1%;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #ff0000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .boutonsMenu {
    background-color: #f5f5f5;
}
.divider {
    background-color:#f5f5f5; 
}
.boutonsMenu {
    border: none;
    cursor: pointer;
    background-color: #f5f5f5;
}
.identiteUser {
    display: flex;
    margin: auto;
    color: #222222;
    width: 65%;
}

/* Paramètre du footer */

footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.copyright {
    width: 50%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.liensFooter {
    width: 50%;
    text-align: center;
    margin: auto;
}
.mentionsLegales {
    width: 50%;
}
h3, h4 {
    color: #ff0000;
}
a {
    color: #ff0000;
}
a:hover {
    color: #222222;
}
.labelMessage {
    color: green;
}

/* Parametre de la session profil */
.contenuProfil {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.contenuUser {
    width: 50%;
    margin: 1% auto;
    padding: 0 1%;
    padding-top: 5%;
}
.informationsUser {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    padding: 2%;
    margin-top: 10%;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.nomPrenom {
    display: flex;
}
.nom {
    width: 50%;
}
.prenom {
    width: 50%;
}
.modificationProfil {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    padding: 0;
    justify-content: center;
}
.btn {
    background-color: #070201;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn:hover {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}


.acteursLikes {
    display: flex;
    margin: 2% auto;
    justify-content: space-between;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.logoActeur  {
    background: #ff0000;
}
.logoActeur a img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.logoActeur a img:hover {
    opacity: .5;
}
.dernierCommentaires {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.dernierCommentaires h3 {
    display: flex;
    margin: 2% auto;
}
.postUser {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    background: #f5f5f5;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.postUser:hover {
    background: #ff0000;
    color: black;
    opacity: 1;
}
.commentaire, .date {
    display: flex;
}

/* Parametre de la session image a droite */
.imageUser {
    width: 50%;
    
}
.imageProfil {
    width: 100%;
    height: 100%;
}

.acteursLikes {
    
}

/* Parametre de la modification des informations utilisateur */
form {
    width:100%;
    padding: 30px;
    margin: 0 auto;
}

/* champ utilisateur et champ mot de passe */
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* les autres boutons  */
input[type=submit] {
    background-color: #070201;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}

.modal-header {
    margin: 2% auto;
}

/* Responsive tablette */


@media(min-width: 768px) and (max-width: 1388px)

{

.container-fluid {
    background: #eee2da;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
.imageProfil {
    width: 0;
    display: none;
}

 

}

/* Responsive Phone */

@media(max-width: 767px)

{ 
.username {
    width: 50%;
}
.identiteUser {
    flex-direction: column;
}

.contenuProfil {
    display: flex;
    flex-direction: column;
}
    
.imageProfil {
    width: 0;
    display: none;
}
.contenuUser {
    width: 100%;
    padding: 2%;
    margin: 10% auto;
}
.informationsUser {
    margin-top: 30%;
}
.acteursLikes {
    flex-wrap: wrap;
    justify-content: center;
}
.postUser {
    margin: 4%;
}

 

}

